[project]
	description = empty git Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/柏杰 (Bai-Jie)
[access "refs/for/refs/*"]
	read = group user/柏杰 (Bai-Jie)
	push = group user/柏杰 (Bai-Jie)
	label-Code-Review = -2..+2 group user/柏杰 (Bai-Jie)
	label-Verified = -1..+1 group user/柏杰 (Bai-Jie)
	rebase = group user/柏杰 (Bai-Jie)
	removeReviewer = group user/柏杰 (Bai-Jie)
	submit = group user/柏杰 (Bai-Jie)
[access "refs/heads/*"]
	read = group user/柏杰 (Bai-Jie)
	create = group user/柏杰 (Bai-Jie)
	push = +force group user/柏杰 (Bai-Jie)
	pushMerge = group user/柏杰 (Bai-Jie)
[access "refs/tags/*"]
	push = +force group user/柏杰 (Bai-Jie)
	pushTag = group user/柏杰 (Bai-Jie)
	pushSignedTag = group user/柏杰 (Bai-Jie)
